@font-face {
  font-family: iconfont; /* Project id 577062 */
  src: url('//at.alicdn.com/t/font_577062_94wh0fei37q.woff2?t=1628860138290') format('woff2'),
    url('//at.alicdn.com/t/font_577062_94wh0fei37q.woff?t=1628860138290') format('woff'),
    url('//at.alicdn.com/t/font_577062_94wh0fei37q.ttf?t=1628860138290') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wendang::before {
  content: "\e64a";
}

.icon-word::before {
  content: "\e626";
}

.icon-excel::before {
  content: "\e630";
}

.icon-daohang1::before {
  content: "\e674";
}

.icon-triangle-down::before {
  content: "\e600";
}

.icon-shangla1::before {
  content: "\e722";
}

.icon-png::before {
  content: "\e602";
}

.icon-tongxunlu::before {
  content: "\e6af";
}

.icon-liaotian::before {
  content: "\e624";
}

.icon-biaoqing3::before {
  content: "\e623";
}

.icon-weixin::before {
  content: "\e67d";
}

.icon-tupian1::before {
  content: "\e88c";
}

.icon-dengji::before {
  content: "\e62e";
}

.icon-touxiang::before {
  content: "\e622";
}

.icon-shouji::before {
  content: "\e838";
}

.icon-image::before {
  content: "\e689";
}

.icon-shezhi::before {
  content: "\e61f";
}

.icon-upload-fill::before {
  content: "\e63e";
}

.icon-shangchuan::before {
  content: "\e81d";
}

.icon-Group-1::before {
  content: "\e688";
}

.icon-wenjian::before {
  content: "\e631";
}

.icon-fangkuang::before {
  content: "\e62a";
}

.icon-xuanze-fangkuang::before {
  content: "\e793";
}

.icon-bianjiwenzhang::before {
  content: "\e61c";
}

.icon-time::before {
  content: "\e62c";
}

.icon-wj-rz::before {
  content: "\e715";
}

.icon-zelvxuanzefeiyongdaosanjiaoxingfandui::before {
  content: "\e665";
}

.icon-sousuo::before {
  content: "\e696";
}

.icon-shanchu1::before {
  content: "\e619";
}

.icon-logo-wc::before {
  content: "\e61b";
}

.icon-jiangpin::before {
  content: "\e617";
}

.icon-niu::before {
  content: "\e642";
}

.icon-ziyuanldpi::before {
  content: "\e621";
}

.icon-gouxuan::before {
  content: "\e612";
}

.icon-jiantou-copy-copy::before {
  content: "\e668";
}

.icon-jiantou-copy-copy-copy::before {
  content: "\e669";
}

.icon-rizhi::before {
  content: "\e63f";
}

.icon-biaoqing2::before {
  content: "\e615";
}

.icon-zuobiao::before {
  content: "\e637";
}

.icon-shuben::before {
  content: "\e611";
}

.icon-rizhiguanli::before {
  content: "\e618";
}

.icon-ren::before {
  content: "\e650";
}

.icon-saying::before {
  content: "\e62f";
}

.icon-biaoqing1::before {
  content: "\e62d";
}

.icon-tupian::before {
  content: "\e60e";
}

.icon-shipin-tianchong::before {
  content: "\e647";
}

.icon-shipin::before {
  content: "\e677";
}

.icon-post_pic::before {
  content: "\e61e";
}

.icon-jianpan::before {
  content: "\e60d";
}

.icon-send_sound::before {
  content: "\e63b";
}

.icon-biaoqing::before {
  content: "\e745";
}

.icon-jia::before {
  content: "\e627";
}

.icon-icon_play::before {
  content: "\e610";
}

.icon-gouwuche::before {
  content: "\e657";
}

.icon-bingli1::before {
  content: "\e6ff";
}

.icon-bingli::before {
  content: "\e629";
}

.icon-yly_zhaohuozhushou::before {
  content: "\e614";
}

.icon-jilu::before {
  content: "\e628";
}

.icon-dingdan::before {
  content: "\e704";
}

.icon-aixin::before {
  content: "\e63c";
}

.icon-wenyisheng_xianxing::before {
  content: "\e604";
}

.icon-shouye_xianxing::before {
  content: "\e605";
}

.icon-wenyaoshi_tianchong::before {
  content: "\e607";
}

.icon-wenyisheng_tianchong::before {
  content: "\e608";
}

.icon-wode_xianxing::before {
  content: "\e609";
}

.icon-wenyaoshi_xianxing::before {
  content: "\e60a";
}

.icon-wode_tianchong::before {
  content: "\e60b";
}

.icon-shouye_tianchong::before {
  content: "\e603";
}

.icon-xiaoxihezi-kong::before {
  content: "\e682";
}

.icon-box::before {
  content: "\e63a";
}

.icon-kanchexianxing::before {
  content: "\e601";
}

.icon-zhuye::before {
  content: "\e61d";
}

.icon-qumanmanbanxing::before {
  content: "\e64e";
}

.icon-triangle::before {
  content: "\e666";
}

.icon-jiazaizhong1::before {
  content: "\e616";
}

.icon-weibiaoti14::before {
  content: "\e620";
}

.icon-guanbi::before {
  content: "\e653";
}

.icon-daohang::before {
  content: "\e62b";
}

.icon-Group-::before {
  content: "\e692";
}

.icon-iconset0424::before {
  content: "\e72f";
}

.icon-wode::before {
  content: "\e606";
}

.icon-jiazaizhong::before {
  content: "\e6ae";
}

.icon-shanchu::before {
  content: "\e625";
}

.icon-dianzan::before {
  content: "\e60c";
}

.icon-comment::before {
  content: "\e638";
}

.icon-star::before {
  content: "\e61a";
}

.icon-xiangyoujiantou::before {
  content: "\e648";
}

.icon-jiahao::before {
  content: "\e613";
}

.icon-wenti::before {
  content: "\e756";
}

.icon-fanhui1::before {
  content: "\e60f";
}

.icon-gantanhao::before {
  content: "\e724";
}
